.div-pp{
    height: 90%;
}
.acesso2{
    width: 4rem;
}
.div-recentes{
    max-width: 100;
}
.acesso{
    opacity: 0;
}
.acesso2:hover >.acesso{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-grey-7);
    color: var(--color-grey-1);
    opacity: 100;
    width: 7rem;
    height: 30px;
    border-radius: 8px;
    font-size: 0.8rem;
    
}